// Toggle global options
//$enable-gradients: true;
//$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #000;
$body-bg: #fff;
$border-radius: .4rem;
//$success: #7952b3;


$green:   #008080;
$green-light: #28ADAD;
$green-lighter: rgba(40, 173, 173, 0.30);
$red:     #C8180F;
$primary: $green;
$primary-light: $green-light;

$secondary: #583D80;
$secondary-light: #7B61A0;

$nav-second-color: $secondary;

$input-placeholder-color: #BEBEBE;
$nav-third-color: #C2ECE8;
$nav-third-hover-color-bg: #008080;
$footer-bg-color: #535353;
$navbar-bg-color: $green;
$product-item-label-bg: #FF0000;

$swiper-navigation-bg-color: #E6E6E6;
$swiper-navigation-bg-hover-color: darken($swiper-navigation-bg-color, 10%);

$secondary-btn-color: #7B61A0;
$secondary-btn-hover-color: $secondary;

$font-montserrat: 'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-MADEBarista: 'MADEBarista', 'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: $font-montserrat;

$font-size-8px: 0.5rem;
$font-size-10px: 0.625rem;
$font-size-12px: 0.75rem;
$font-size-14px: 0.875rem;
$font-size-20px: 1.25rem;
$font-size-24px: 1.5rem;
$font-size-30px: 1.875rem;
$font-size-32px: 2rem;
$font-size-40px: 2.5rem;


$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);
$container-max-widths: (
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: 1140px,
) !default;

$header-height: 70px;
$mobile-bottom-nav-height: 70px;

$btn-border-width: 2px;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
//$btn-font-weight: 600;
$btn-padding-y-lg: 0.75rem;
$btn-font-size-lg: 1rem;
$btn-padding-x-lg: 2rem;

$breadcrumb-padding-y: 1.7rem;
$breadcrumb-margin-bottom: 0;
$breadcrumb-item-padding-x: 0.7rem;
$breadcrumb-active-color: $body-color;

$pagination-color: $primary;
$pagination-border-color: $primary;
$pagination-hover-bg: $primary;
$pagination-hover-color: #fff;
$pagination-hover-border-color: $primary;
$pagination-border-radius: 0;
$pagination-padding-y: 0.3rem;

$subtitle-margin-top: -1rem;
$subtitle-margin-bottom: 1.5rem;

$accordion-padding-y: 0.2rem;
$accordion-border-radius: 0;
$accordion-border-width: 0;
$accordion-icon-color: #fff;
$accordion-body-padding-y: 1.3rem;
$accordion-body-padding-x: 0;
$accordion-button-color: #fff;
$accordion-button-active-color: $accordion-button-color;
$accordion-button-bg: $secondary-btn-color;
$accordion-button-active-bg: $secondary-btn-hover-color;
$accordion-icon-active-color: $accordion-icon-color;
$accordion-button-focus-box-shadow: none;

//табы
//$nav-tabs-border-radius: 0;
$nav-tabs-border-width: 0;
//$nav-tabs-border-color: transparent;
//$nav-tabs-link-hover-border-color: transparent;
//$nav-tabs-link-active-border-color: transparent;
$nav-tabs-link-active-color: $secondary;

$border-radius: 0;
$border-radius-lg: 0;

$default_transition_function: .15s ease-in-out;

$dropdown-link-hover-bg: $green-lighter;

//forms
$input-border-color: $green-lighter;
$input-focus-border-color: $primary;
$focus-ring-box-shadow: none;
$form-check-input-border: 1px solid $green-lighter;
$form-check-input-border-radius: 0;
$form-label-margin-bottom: 0.2rem;