<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Страницы</title>
</head>
<body>
<ul>
	<li><a href="pages/">Главная</a></li>
	<li><a href="pages/authorized.html">Авторизованный пользователь, включая бизнес-аккаунт</a></li>
	<li><a href="pages/text.html">Текстовая Страница</a></li>
	<li><a href="pages/news-list.html">Новости, список</a></li>
	<li><a href="pages/news-card.html">Новости, карточка</a></li>
	<li><a href="pages/product-card.html">Карточка товара</a></li>
	<li><a href="pages/cart.html">Корзина</a></li>
	<li><a href="pages/signin.html">Вход</a></li>
	<li><a href="pages/signup.html">Регистрация</a></li>
	<li><a href="pages/categories.html">Каталог категорий</a></li>
</ul>
</body>
</html>