.product-card{
  &__subtitle{
    margin-top: $subtitle-margin-top;
    margin-bottom: $subtitle-margin-bottom;
    display: flex;
    align-items: flex-start;
  }
  &__review-count{
    padding: 2px 0px 0px 10px;
  }


  &__images {
    margin-bottom: 1.5rem;
  }

  &__article{
    margin-bottom: 1rem;
  }

  &__pay{
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
      padding: 2.5rem;
      margin-bottom: 2.5rem;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    }
  }
  &__sku{
    padding: 3px;
    margin-bottom: 1.5rem;
    overflow: hidden;

    &-list{
      margin-right: -16px;
      margin-bottom: -16px;
      @include media-breakpoint-up(md) {
        margin-right: -10px;
        margin-bottom: -10px;
      }
    }
    &-title{
      display: none;
    }
    a{
      margin-right: 16px;
      margin-bottom: 16px;
      @include media-breakpoint-up(md) {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
  &__price-block{
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
  &__price{
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &__price-old{
    font-weight: 300;
    text-decoration: line-through;
    margin-bottom: 1rem;
  }
  &__quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.3rem;
    @include media-breakpoint-only(md) {
      justify-content: flex-start;
    }
    &-input{
      width: 48px;
      padding: 5px 5px;
      border: 2px solid $secondary;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      font-weight: bold;
      outline: none;
      &:focus{
        border-color: shade-color($secondary, $btn-hover-border-shade-amount);
      }
    }
    &-btn{
      height: 44px;
      padding: 4px 16px;
      border: none;
      background: none;
      font-size: 30px;
      line-height: 30px;
      color: $secondary;
      &.minus{
        padding-top: 1px;
      }
      &:active{
        transform: translate(3px, 3px);
      }
    }
  }
  &__button-buy{
    .btn{
      display: block;
      span{
        font-size: $font-size-12px;
        font-weight: normal;
      }
    }

    margin-bottom: 1.3rem;
  }
  &__button-fave{
    .btn{
      display: block;
      width: 100%;//для button
    }
  }
  &__brand{
    &_desktop{
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
    &_mobile{
      text-align: center;
      margin-bottom: 2.2rem;
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
    &_tablet{
      display: none;
      @include media-breakpoint-only(md) {
        display: block;
        margin: 1rem 0 2.5rem;
        text-align: center;
      }
    }
  }

  &__delivery{
    ul{
      padding-left: 1em;
      margin-bottom: 0;
      li{
        display: block;
        margin-bottom: 0.7em;
        position: relative;
        &:last-child{
          margin-bottom: 0;
        }
        &:before{
          content: '●';
          position: absolute;
          left: -1em;
          font-size: 1.1em;
          top:-0.15em;
          color: $secondary;
        }
      }
    }
  }

  &__tabs{
    margin-bottom: 1.3rem;
    .nav-tabs{
      display: none;
    }

    .accordion-item{
      margin-bottom: 3px;
    }
    .accordion-button{
      text-transform: uppercase;
      font-size: 1.25rem;
    }

    @include media-breakpoint-down(lg) {
      .tab-content>.tab-pane {
        display: block;
        opacity: 1;
      }
    }
    @include media-breakpoint-up(lg) {
      .nav-tabs{
        display: flex;
      }
      .accordion-header{
        display: none;
      }
      .accordion-collapse{
        display: block;
      }
    }
  }

  &__tech{
    display: table;
    &-el{
      display: table-row;
      & > div{
        padding-bottom: 0.5rem;
      }
    }
    &-name{
      display: table-cell;
      position: relative;
      width: 60%;
      .inner{
        position: relative;
        .label{
          position: relative;
          background: #fff;
          display: inline-block;
          padding-right: 5px;
          z-index: 1;
        }
        .dot{
          position: absolute;
          bottom: 7px;
          right: 5px;
          left: 0;
          border-bottom: 1px dashed #53535380;
          z-index: 0;
        }
      }
    }
    &-value{
      display: table-cell;
      vertical-align: bottom;
    }
  }

  &__review{
    &-add{
      margin-bottom: 1rem;
    }
    &-el{
      margin-bottom: 2rem;
      .info{
        margin-bottom: -0.2rem;
        .username{
          font-weight: bold;
          color: #000;
        }
        .date{
          color: #00000099;
        }
      }
      .text{
        margin: 1rem 0 0 0;
      }
      &-manage{
        margin-top: 1rem;
      }
      &-manage-links{
        margin-right: -1rem;
        margin-bottom: 1.3rem;
        a{
          //color: #00000099;
          //text-decoration: none;
          margin-right: 1rem;
          //&:hover{
          //  color: $primary;
          //  text-decoration: underline;
          //}
        }
      }
      &-answer{
        background: #E6E6E6;
        padding: 5px;
      }
      &-editor{
        margin-bottom: 5px;
      }
    }
  }
}


