<footer class="footer mt-auto">
	<div class="footer__inner">
		<div class="container">
			<div class="row">
				<div class="col-md-3 footer__col footer__col_logo">
					<div class="d-inline-block">
						<div class="mb-4">
							<svg class="uicon-footer_logo"><use xlink:href="/imgs/sprite.svg#footer_logo"></use></svg>
						</div>
						<div class="text-center">
							<a href="#" class="me-3">
								<img src="/imgs/footer_yakutia.svg" alt="">
							</a>
							<a href="#" class="me-3">
								<svg class="uicon-footer_my_business"><use xlink:href="/imgs/sprite.svg#footer_my_business"></use></svg>
							</a>
							<a href="#">
								<svg class="uicon-footer_national_projects"><use xlink:href="/imgs/sprite.svg#footer_national_projects"></use></svg>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 footer__col">
					<div class="menu-footer">
						<div class="menu-footer__header">Общая информация</div>
						<ul>
							<li><a href="#">О &laquo;Сделано в Якутии&raquo;</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Отзывы</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 footer__col">
					<div class="menu-footer">
						<div class="menu-footer__header">Покупателям</div>
						<ul>
							<li><a href="#">Как сделать заказ</a></li>
							<li><a href="#">Оплата</a></li>
							<li><a href="#">Доставка</a></li>
							<li><a href="#">Возврат</a></li>
							<li><a href="#">Правила продажи</a></li>
							<li><a href="#">Пользовательское соглашение</a></li>
							<li><a href="#">Политика конфеденциальности</a></li>
							<li><a href="#">Вопросы и ответы</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 footer__col">
					<div class="menu-footer">
						<div class="menu-footer__header">Продавцам</div>
						<ul>
							<li><a href="#">Стать продавцом</a></li>
							<li><a href="#">Договор оферты</a></li>
							<li><a href="#">Вопросы и ответы</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div>
				<div class="row align-items-center">
					<div class="col-2">
						<span class="footer__arrow-up" id="js-scroll-to-up">
							<svg class="uicon-arrow_up"><use xlink:href="/imgs/sprite.svg#arrow_up"></use></svg>
						</span>
					</div>
					<div class="col-10">
						<div class="text-end"><small>© 2023 ГАУ РС(Я) «ЦЕНТР&nbsp;«МОЙ&nbsp;БИЗНЕС»</small></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="mobile-bottom-nav">
	<a href="/"><svg class="uicon-home_gray"><use xlink:href="/imgs/sprite.svg#home_gray"></use></svg></a>
	<a href="#" class="mobile-bottom-nav__favorites">
		<svg class="uicon-heart_gray_no_bg"><use xlink:href="/imgs/sprite.svg#heart_gray_no_bg"></use></svg>
		<span class="badge rounded-circle bg-danger">
				<span class="badge-inner">12</span>
			</span>
	</a>
	<a href="#" class="mobile-bottom-nav__basket">
		<svg class="uicon-bag_gray"><use xlink:href="/imgs/sprite.svg#bag_gray"></use></svg>
		<span class="badge rounded-circle bg-danger">
				<span class="badge-inner">21</span>
			</span>
	</a>
	<a href="#">
		<svg class="uicon-user_gray"><use xlink:href="/imgs/sprite.svg#user_gray"></use></svg>
	</a>
</div>