<div class="menu-block" id="js-menu-block">
				<span class="menu-block__toggler" id="js-menu-toggler">
					<svg class="uicon-menu_toggler"><use xlink:href="/imgs/sprite.svg#menu_toggler"></use></svg>
					<svg class="uicon-menu_cross"><use xlink:href="/imgs/sprite.svg#menu_cross"></use></svg>
				</span>
  <ul class="menu" id="js-menu">
    <li class="menu-item menu-item_dropdown">
      <a href="#">Каталог</a>
      <span class="menu__second">
							<span class="container d-block">
								<ul class="menu__second-list">
									<li class="menu-item"><a href="https://ya.ru"><span>Якутские ножи</span></a></li>
									<li class="menu-item menu-item_dropdown">
										<a href="#"><span>Украшения</span></a>
										<span class="menu__third">
											<ul>
												<li><a href="#">Все товары</a></li>
												<li><a href="#">Украшения и броши</a></li>
												<li><a href="#">Кольца</a></li>
												<li><a href="#">Изделия из золота</a></li>
												<li><a href="#">Серьги</a></li>
												<li><a href="#">Изделия из серебра</a></li>
												<li><a href="#">Колье и подвески</a></li>
												<li><a href="#">Бижутерия</a></li>
												<li><a href="#">Браслеты</a></li>
												<li><a href="#">Национальное украшение</a></li>
											</ul>
										</span>
									</li>
									<li class="menu-item"><a href="#"><span>Сувениры&nbsp;и подарки</span></a></li>
									<li class="menu-item"><a href="#"><span>Одежда</span></a></li>
									<li class="menu-item"><a href="#"><span>Обувь&nbsp;и аксессуары</span></a></li>
									<li class="menu-item"><a href="#"><span>Продукты питания</span></a></li>
									<li class="menu-item"><a href="#"><span>Здоровье&nbsp;и красота</span></a></li>
									<li class="menu-item menu-item_dropdown">
										<a href="#"><span>Спорт&nbsp;и отдых</span></a>
										<span class="menu__third">
										<ul>
											<li><a href="#">Все товары</a></li>
											<li><a href="#">Украшения и броши</a></li>
											<li><a href="#">Кольца</a></li>
											<li><a href="#">Изделия из золота</a></li>
											<li><a href="#">Серьги</a></li>
											<li><a href="#">Изделия из серебра</a></li>
											<li><a href="#">Колье и подвески</a></li>
											<li><a href="#">Бижутерия</a></li>
											<li><a href="#">Браслеты</a></li>
											<li><a href="#">Национальное украшение</a></li>
										</ul>
									</span>
									</li>
									<li class="menu-item menu-item_dropdown">
										<a href="#"><span>Для дома</span></a>
										<span class="menu__third">
											<ul>
												<li><a href="#">Изделия из серебра</a></li>
												<li><a href="#">Колье и подвески</a></li>
												<li><a href="#">Бижутерия</a></li>
												<li><a href="#">Браслеты</a></li>
												<li><a href="#">Национальное украшение</a></li>
											</ul>
										</span>
									</li>
									<li class="menu-item"><a href="#"><span>Название</span></a></li>
									<li class="menu-item"><a href="#"><span>Название</span></a></li>
									<li class="menu-item"><a href="#"><span>Название</span></a></li>
									<li class="menu-item"><a href="#"><span>Название</span></a></li>
									<li class="menu-item"><a href="#"><span>Название</span></a></li>
									<li class="menu-item"><a href="#"><span>Название</span></a></li>
									<li class="menu-item"><a href="#"><span>Название</span></a></li>
									<li class="menu-item"><a href="#"><span>Название</span></a></li>
									<li class="menu-item"><a href="#"><span>Название</span></a></li>
									<li class="menu-item menu-item_dropdown">
										<a href="#"><span>Название</span></a>
										<span class="menu__third">
											<ul>
												<li><a href="#">Изделия из серебра</a></li>
												<li><a href="#">Колье и подвески</a></li>
												<li><a href="#">Бижутерия</a></li>
												<li><a href="#">Браслеты</a></li>
												<li><a href="#">Национальное украшение</a></li>
											</ul>
										</span>
									</li>
								</ul>
							</span>
						</span>
    </li>

    <li class="menu-item menu-item_dropdown">
      <a href="#">Бренды</a>
      <span class="menu__second">
							<span class="container d-block">
								<ul class="menu__second-list">
									<li class="menu-item"><a href="#"><span>Озон</span></a></li>
									<li class="menu-item"><a href="#"><span>Сбербанк</span></a></li>
									<li class="menu-item"><a href="#"><span>Нокиа</span></a></li>
								</ul>
							</span>
						</span>
    </li>
    <li class="menu-item"><a href="#">Туризм</a></li>
  </ul>
</div>

<a class="navbar-brand" href="../">
  <img src="/imgs/logo.svg" alt="Якутия - единая торговая площадка">
</a>
<div class="header__search">
				<span class="header__search-toggler" id="js-search-toggler">
					<svg class="uicon-search_toggler"><use xlink:href="/imgs/sprite.svg#search_toggler"></use></svg>
				</span>
  <form role="search" class="header__search-form" id="js-search-form" data-bs-theme="light">
    <input class="form-control header__search-input" type="search" placeholder="Искать товары"
           aria-label="Искать товары и бренды">
    <button class="header__search-btn" type="submit">
      <svg class="uicon-search">
        <use xlink:href="/imgs/sprite.svg#search"></use>
      </svg>
    </button>
    <button class="header__search-cancel" type="button" id="js-mobile-cancel">
      <svg class="uicon-search_cross">
        <use xlink:href="/imgs/sprite.svg#search_cross"></use>
      </svg>
    </button>
  </form>
</div>
