<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Единая торговая площадка «Сделано в Якутии»</title>
  <link rel="stylesheet" href="../scss/bootstrap.scss">
  <link rel="stylesheet" href="../scss/styles.scss">
  <!--Обратите внимание на type="module" - это должно остаться также, не type="javascript"-->
  <!--	<script type="module" src="./js/vendor/jquery/dist/jquery.min.js"></script>-->
  <!--	<script type="module" src="./js/vendor/fullpage.js/dist/jquery.fullpage.js"></script>-->
  <script type="module" src="../js/main.js"></script>
</head>
