<div class="images-gallery js-images-gallery">
	<div class="swiper swiper-main" >
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="/upload/catalog/detail/1.webp" />
			</div>
			<div class="swiper-slide">
				<img src="/upload/catalog/detail/11.webp" />
			</div>
			<div class="swiper-slide">
				<img src="/upload/catalog/detail/2.webp" />
			</div>
			<div class="swiper-slide">
				<img src="/upload/catalog/detail/3.webp" />
			</div>
			<div class="swiper-slide">
				<img src="/upload/catalog/detail/4.webp" />
			</div>
			<div class="swiper-slide">
				<img src="/upload/catalog/detail/5.webp" />
			</div>
			<div class="swiper-slide">
				<img src="/upload/catalog/detail/6.webp" />
			</div>
			<div class="swiper-slide">
				<img src="/upload/catalog/detail/7.webp" />
			</div>
			<div class="swiper-slide">
				<img src="/upload/catalog/detail/8.webp" />
			</div>
			<div class="swiper-slide">
				<img src="/upload/catalog/detail/9.webp" />
			</div>
			<div class="swiper-slide">
				<img src="/upload/catalog/detail/10.webp" />
			</div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button swiper-button-next"></div>
		<div class="swiper-button swiper-button-prev"></div>
	</div>
	<div class="images-gallery__thumbnails">
		<div class="images-gallery__thumbnails-inner">
			<div thumbsSlider="" class="swiper swiper-thumbnails">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="/upload/catalog/detail/thumbnail/1.webp" />
					</div>
					<div class="swiper-slide">
						<img src="/upload/catalog/detail/thumbnail/11.webp" />
					</div>
					<div class="swiper-slide">
						<img src="/upload/catalog/detail/thumbnail/2.webp" />
					</div>
					<div class="swiper-slide">
						<img src="/upload/catalog/detail/thumbnail/3.webp" />
					</div>
					<div class="swiper-slide">
						<img src="/upload/catalog/detail/thumbnail/4.webp" />
					</div>
					<div class="swiper-slide">
						<img src="/upload/catalog/detail/thumbnail/5.webp" />
					</div>
					<div class="swiper-slide">
						<img src="/upload/catalog/detail/thumbnail/6.webp" />
					</div>
					<div class="swiper-slide">
						<img src="/upload/catalog/detail/thumbnail/7.webp" />
					</div>
					<div class="swiper-slide">
						<img src="/upload/catalog/detail/thumbnail/8.webp" />
					</div>
					<div class="swiper-slide">
						<img src="/upload/catalog/detail/thumbnail/9.webp" />
					</div>
					<div class="swiper-slide">
						<img src="/upload/catalog/detail/thumbnail/10.webp" />
					</div>
				</div>
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
</div>