<div class="news-list__el">
  <a href="#" class="news-list__el-image">
    <img src="/upload/news/1.jpg" alt="Неповторимые каркасные куклы">
  </a>
  <div class="news-list__el-body">
    <h2>
      <a href="#" class="news-list__el-title">Неповторимые каркасные куклы</a>
    </h2>
    <p>На ЕТП «Сделано в Якутии» можно найти неповторимые каркасные куклы, куколки из замши и меха, разнообразные
      магниты, брелоки, обереги, украшения из бисера, произведенные в творческой мастерской «Северная сказка».</p>
    <a href="#" class="btn btn-lg btn-secondary">Подробнее</a>
  </div>
</div>
