<div class="d-flex justify-content-end mt-5">
  <nav aria-label="Постраничная навигация" >
    <ul class="pagination">
      <!-- Стрелки начала и конца можно просто не выводить, если не нужно. -->
      <li class="page-item"><a class="page-link" href="#">
        <svg class="uicon-pagination_arrow" width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 1L1 11L11 21" stroke="#008080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a></li>
      <li class="page-item active"><span class="page-link" href="#">1</span></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><span class="page-link">...</span></li>
      <li class="page-item"><a class="page-link" href="#">43</a></li>
      <li class="page-item"><a class="page-link" href="#">
        <svg class="uicon-pagination_arrow" width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L11 11L1 21" stroke="#008080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a></li>
    </ul>
  </nav>
</div>