<div class="product-card__review-el">
  <div class="info">
    <span class="username">Петрова Галина</span>
    <span class="date">23.05.2023 13:47:57</span>
  </div>
  <div class="rating">
    <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
    <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
    <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
    <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
    <svg class="uicon-star"><use xlink:href="/imgs/sprite.svg#star"></use></svg>
  </div>
  <div class="text">
    Платье понравилось. Но на рост 168 см рукава короткие.
  </div>
</div>