<!-- Swiper -->
<div class="swiper swiper-products js-swiper-products-popular">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="product-item">
        <a href="http://ya.ru" class="product-item__image">
          <img src="/upload/catalog/product-item.jpg" alt="Платье серое">
          <span class="product-item__label">Бесплатная доставка</span>
        </a>
        <div class="text-center pt-2">
          <a href="#" class="product-item__title link-dark mb-0">Платье серое</a>
          <div class="product-item__prices">
            <span class="fw-bold fs-5">5 200 ₽</span>
            <span class="text-decoration-line-through fw-light">7 800 ₽</span>
          </div>
          <div class="product-item__rating">
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star"><use xlink:href="/imgs/sprite.svg#star"></use></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="product-item">
        <a href="http://ya.ru" class="product-item__image">
          <img src="/upload/catalog/product-item.jpg" alt="Платье серое">
        </a>
        <div class="text-center pt-2">
          <a href="#" class="product-item__title link-dark mb-0">Платье серое национальное со
            вставками и блестками праздничное и для повседневной носки</a>
          <div class="product-item__prices">
            <span class="fw-bold fs-5">12 200 ₽</span>
            <span class="text-decoration-line-through fw-light">122 800 ₽</span>
          </div>
          <div class="product-item__rating">
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star"><use xlink:href="/imgs/sprite.svg#star"></use></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="product-item">
        <a href="http://ya.ru" class="product-item__image">
          <img src="/upload/catalog/product-item.jpg" alt="Платье серое">
        </a>
        <div class="text-center pt-2">
          <a href="#" class="product-item__title link-dark mb-0">Платье серое</a>
          <div class="product-item__prices">
            <span class="fw-bold fs-5">12 200 ₽</span>
            <span class="text-decoration-line-through fw-light">12 800 ₽</span>
          </div>
          <div class="product-item__rating">
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star"><use xlink:href="/imgs/sprite.svg#star"></use></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="product-item">
        <a href="http://ya.ru" class="product-item__image">
          <img src="/upload/catalog/product-item.jpg" alt="Платье серое">
        </a>
        <div class="text-center pt-2">
          <a href="#" class="product-item__title link-dark mb-0">Платье серое</a>
          <div class="product-item__prices">
            <span class="fw-bold fs-5">12 200 ₽</span>
            <span class="text-decoration-line-through fw-light">12 800 ₽</span>
          </div>
          <div class="product-item__rating">
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star"><use xlink:href="/imgs/sprite.svg#star"></use></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="product-item">
        <a href="http://ya.ru" class="product-item__image">
          <img src="/upload/catalog/product-item.jpg" alt="Платье серое">
        </a>
        <div class="text-center pt-2">
          <a href="#" class="product-item__title link-dark mb-0">Платье серое</a>
          <div class="product-item__prices">
            <span class="fw-bold fs-5">12 200 ₽</span>
            <span class="text-decoration-line-through fw-light">12 800 ₽</span>
          </div>
          <div class="product-item__rating">
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star"><use xlink:href="/imgs/sprite.svg#star"></use></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="product-item">
        <a href="http://ya.ru" class="product-item__image">
          <img src="/upload/catalog/product-item.jpg" alt="Платье серое">
        </a>
        <div class="text-center pt-2">
          <a href="#" class="product-item__title link-dark mb-0">Платье серое</a>
          <div class="product-item__prices">
            <span class="fw-bold fs-5">12 200 ₽</span>
            <span class="text-decoration-line-through fw-light">12 800 ₽</span>
          </div>
          <div class="product-item__rating">
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star"><use xlink:href="/imgs/sprite.svg#star"></use></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="product-item">
        <a href="http://ya.ru" class="product-item__image">
          <img src="/upload/catalog/product-item.jpg" alt="Платье серое">
        </a>
        <div class="text-center pt-2">
          <a href="#" class="product-item__title link-dark mb-0">Платье серое</a>
          <div class="product-item__prices">
            <span class="fw-bold fs-5">12 200 ₽</span>
            <span class="text-decoration-line-through fw-light">12 800 ₽</span>
          </div>
          <div class="product-item__rating">
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star"><use xlink:href="/imgs/sprite.svg#star"></use></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="product-item">
        <a href="http://ya.ru" class="product-item__image">
          <img src="/upload/catalog/product-item.jpg" alt="Платье серое">
        </a>
        <div class="text-center pt-2">
          <a href="#" class="product-item__title link-dark mb-0">Платье серое</a>
          <div class="product-item__prices">
            <span class="fw-bold fs-5">12 200 ₽</span>
            <span class="text-decoration-line-through fw-light">12 800 ₽</span>
          </div>
          <div class="product-item__rating">
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star"><use xlink:href="/imgs/sprite.svg#star"></use></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="product-item">
        <a href="http://ya.ru" class="product-item__image">
          <img src="/upload/catalog/product-item.jpg" alt="Платье серое">
        </a>
        <div class="text-center pt-2">
          <a href="#" class="product-item__title link-dark mb-0">Платье серое</a>
          <div class="product-item__prices">
            <span class="fw-bold fs-5">12 200 ₽</span>
            <span class="text-decoration-line-through fw-light">12 800 ₽</span>
          </div>
          <div class="product-item__rating">
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star_active"><use xlink:href="/imgs/sprite.svg#star_active"></use></svg>
            <svg class="uicon-star"><use xlink:href="/imgs/sprite.svg#star"></use></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>